.navbar {
    background-color: #0a0f12;
    color: white;
}

.navbar-logo-text {
    font-family: 'Space Mono', monospace;
}

.mobile-menu {
    position: relative;
}

.proflie-item {
    position: absolute;
    margin-left: 100px;
    top: 50px;
    z-index: 100;
}


.userProfile:hover .proflie-item {
    display: block;
}